@media screen and (max-width: 1530px) and (min-width: 770px) {

    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    .header_nav {
        margin: auto;
    }
    
    
    .nav_links a {
        margin-right: 2rem;
        padding: 6px;
        font-size: 1.24rem;
    }
    
    
    .main_title {
        margin-top: 6rem;
        margin-bottom: 5rem;
        margin-left: 5rem;
        margin-right: 9rem;
    }
    
    
    .title_container h1 {
        font-size: 4rem;
    }
    
    .title_container p {
        font-size: 1.5rem;
    }
    
    .button {
        font-size: 1rem;
    }
    
    .home_image img {
        width: 24rem;
    }
    
    #about_us_section {
        margin-bottom: 15rem;
        margin-top: 15rem;
    }
    
    .about-us-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
       
    }
    
    .about-us-info img {
        width: 24rem;
    }
    
    
    .about_us_text h1 {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
    
    .about_us_text p {
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    

    .subtitle h3 {
        display: flex;
        font-size: 1.5rem;
        color: #ff702a;
    }
    
    .subtitle h1 {
        font-size: 2.4rem;
    }
    
    .food_menu_images img {
        width: 10rem;
        background-color: #ffefe8;
       
    }
    
    .food_menu_boxes p {
        font-size: 17px;
    }
    
    .food_menu_boxes p:first-of-type {
        margin-top: 20px;
    }
    
    .first_box {
        margin-left: 12rem;
    }
    
    .third_box {
        margin-right: 12rem;
    }
    
    
    .food_menu_images {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    #services_section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 0rem;
        margin-bottom: 12rem;
    }
    
    
    .services_header h3 {
        font-size: 1.3rem;
    }
    
    .services_header h1 {
        font-size: 2rem;
    }
    
    
    .services_boxes img {
        width: 13rem;
    }
    
    .service_box h1 {
        color: #ff702a;
        text-align: center;
        font-size: 1.5rem;
    }
    
    .service_box p {
        font-size: 1rem;
    }
    
    .services_boxes {
        gap: 2rem;
    }

    .order_box {
        margin-right: 4rem;
    }
    
    .shipping_box {
        margin-right: 4rem;
    }
    
    #final_section {
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-left: 14rem;
        margin-right: 14rem;
        
        background-color: #ffefe8;
        border: solid black 4px;
        border-radius: 30px;
        
    }
    
    
    .first {
        background-color: #ffefe8;
        color: black;
        font-size: 2rem;
        text-align: center;
    }
    
   
    
    #footer_section footer hr {
        width: 4.2rem;
        height: 0.1rem;
        color: #ff702a;
        background-color: #ff702a;
        border-color: #ff702a;
    }
    
    .menu_links_box {
        display: flex;
        flex-direction: column;
        margin-right: 3rem;
        
    }
    
    .menu_links_box a {
        text-decoration: none;
    }
    
    .menu_links_box a:visited, .menu_links_box a {
        color: white;
    }
    
    .menu_links_box a:first-of-type {
        margin-top: 1rem;
    }
    
    .our_service_box {
        display: flex;
        flex-direction: column;
        margin-right: 3rem;
    }
    
    .our_service_box p:first-of-type {
        margin-top: 1rem;
    }
    
    .info_box {
        display: flex;
        flex-direction: column;
        margin-right: 3rem;
    }
    
    .info_box p:first-of-type {
        margin-top: 1rem;
    }
    
    .icon_box {
        border: solid #ff702a 5px;
        background-color: #ff702a;
        border-radius: 50%;
        margin-left: 0.4rem;
        margin-top: 1rem;
    }
    
    .phone {
        border: solid #ff702a 5px;
        background-color: #ff702a;
        border-radius: 50%;
        
    }
    
    .icon_box:hover {
        transition: 0.2s;
        transform: scale(1.1);
        background-color: #dd926d;
        border-color: #dd926d;
        cursor: pointer;
    }
    
    
    .cart_icon {
        background-color: #ffefe8
    }
    
    .bxs-cart {
        font-size: 2rem;
    }
}

