@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    background-color: #1e1d2b;
    color: #efff;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
}


.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px 0;
    margin-left: 10rem;
}
.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;

}

.nav_links a {
    margin-right: 5rem;
    text-decoration: none;
    color: #efff;
    padding: 6px;
}

.nav_links a:hover {
    outline: solid green 1.5px;

}

.header_nav h1 {
    font-size: 2rem;
    color: #ff702a;
}

.menu_icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.main_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
    margin-left: 14rem;
    margin-right: 10rem;
}

.title_container {
    max-width: 100%;
}

.title_container h1 {
    color: #ff702a;
    font-size: 7rem;
    margin-bottom: 1rem;
}

.title_container p {
    font-size: 2rem;
}

.button {
    background-color: #ff702a;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    transition: 0.2s;
    transform: scale(1.1);
    background-color: #e4936b;
    
}

.home_image img {
    width: 34rem;
}

#about_us_section {
    margin-bottom: 20rem;
    margin-top: 20rem;
}

.about-us-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
   
}

.about-us-info img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    margin-right: 8rem;
}

.subtitle {
    color: #ff702a;
}

.about_us_text {
    max-width: 100%;
}

.about_us_text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about_us_text p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

#food_menu_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-bottom: 20rem;
}

.food_menu_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 7rem;
    margin-right: 1rem;
}

.subtitle h3 {
    display: flex;
    font-size: 1.5rem;
    color: #ff702a;
}

.subtitle h1 {
    font-size: 5rem;
}

.food_menu_images img {
    width: 19rem;
    background-color: #ffefe8;
   
}

.food_menu_boxes {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 2rem;
    background-color: #ffefe8;
    margin-right: 2rem;
    border: black solid 4px;

}

.food_menu_boxes p.price {
    color: #ff702a;
    font-style:oblique
}

.food_menu_boxes:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

.food_menu_boxes p {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ffefe8;
    color: black;
    font-size: 20px;
}

.food_menu_boxes p:first-of-type {
    margin-top: 20px;
}

.first_box {
    margin-left: 12rem;
}

.third_box {
    margin-right: 12rem;
}


.food_menu_images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

#services_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-bottom: 20rem;
}

.services_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
    text-align: center;
    margin-right: 1rem;
}

.services_header h3 {
    font-size: 1.6rem;
}

.services_header h1 {
    font-size: 4rem;
}

.services_boxes {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 12rem;
    margin-right: 12rem;
}

.services_boxes img {
    width: 19rem;
}

.service_box h1 {
    color: #ff702a;
    text-align: center;
    font-size: 2rem;
}

.service_box p {
    font-size: 1.3rem;
}

.order_box {
    margin-right: 4rem;
}

.shipping_box {
    margin-right: 4rem;
}

#final_section {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-left: 6rem;
    margin-right: 6rem;
    background-color: #ffefe8;
    border: solid black 4px;
    border-radius: 30px;
    
}

.final_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffefe8;
}

.first {
    background-color: #ffefe8;
    color: black;
    font-size: 4rem;
    text-align: center;
}

#footer_section footer {
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    justify-content: center;
    align-items: flex-start;
}

.menu_links_box {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    
}

.menu_links_box a {
    text-decoration: none;
}

.our_service_box {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}
.info_box {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}

.icon_box {
    border: solid #ff702a 5px;
    background-color: #ff702a;
    border-radius: 50%;
    margin-left: 0.4rem;
}

.phone {
    border: solid #ff702a 5px;
    background-color: #ff702a;
    border-radius: 50%;
    
}

.icon_box:hover {
    transition: 0.2s;
    transform: scale(1.1);
    background-color: #dd926d;
    border-color: #dd926d;
    cursor: pointer;
}


@media screen and (max-width: 768px) {

    .container {
        padding: 0;
    }

    .header_nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 2rem;

    }

    .header_nav a {
        display: none;
    }

    .header_nav h1 {
        padding: 0;
    }

    .menu_icon {
        display: flex;
        margin-left: 20rem;
    }

    .main_nav {
        display: none;
    }

    .main_title {
        margin: 2rem 0;
        text-align: center;
    }

    .home_image {
        text-align: center;
        margin: auto;
    }

    .about-us-info {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
        text-align: center;
    }

    .about-us-info img {
        margin: auto;
        margin-bottom: 2rem;
    }

    #food_menu_section {
        margin: 2rem 0;
    }

    .first_box, .second_box, .third_box {
        margin: 0;
    }

    .food_menu_header {
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .food_menu_header h1 {
        font-size: 3rem;
    }

    .food_menu_images {
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   
}